<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .form-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 30px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

            .form-container:hover {
                transform: scale(1.02);
            }

        .form-group label {
            font-weight: bold;
            color: #495057;
        }

        .form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .btn-custom {
            background-color: #007bff;
            color: #ffffff;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

            .btn-custom:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>

    <div class="container form-container">
        <h3 class="text-center mb-4">Giriş Yap</h3>
        <form action="/User/Login" method="post">
            <div class="form-group">
                <label for="identifier">E-posta/Telefon Numarası</label>
                <input type="text" class="form-control" id="identifier" name="Identifier" required placeholder="E-posta veya telefon numarası">
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" class="form-control" id="password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Giriş Yap</button>
        </form>
        <div class="text-center mt-3">
            <a href="@Url.Action("Register", "User")">Hesap Aç</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
